Assets/Font/STSONG filter=lfs diff=lfs merge=lfs -text
SDF.asset filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/Il2cppBuildCache/WebGL/Native/build.bc filter=lfs diff=lfs merge=lfs -text
Library/il2cpp_cache/linkresult_B6B6636800D84057BD3C253C919A690E/build.bc filter=lfs diff=lfs merge=lfs -text
